.section2{
		background-image: linear-gradient(128deg, #6190ee, #d362c4);
		padding-bottom:5.6rem;
}
.color__white{
    color:#fff !important;
}
.white__line{
    margin-bottom:5.6rem;
    margin-top:4rem;
    opacity: 0.3;
    background-color: #f8f7fa;
    height: 1px;
}
.wrapper__section2{
	margin-left:250px;
}
.custom__opacity{
    opacity: 0.6;
}
.small-magin{
    margin-top:1.6rem;
}
.section__title__form{
    letter-spacing: 0;
    color:#292622;
    line-height: 3.2rem;
    font-size: 2.4rem;
}
.wrapper__form{
	display: flex;
    padding: 4rem 0 4rem 0;
    margin-top:5.6rem;
    border-radius: 7px;
    background-color: #f8f7fa;
    box-shadow: 0 20px 30px 0 rgba(85, 56, 152, 0.79);
}
.form__text{
    color:#7a7a7a;
    line-height: 2.8rem;
    letter-spacing: 0;
    font-size: 1.8rem;
}
.inp__form{
	font-family: Arial, Helvetica, sans-serif;
		outline: none;
    padding-left:12px;
    font-size: 1.8rem;
    width: 216px;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #b8b8b8;

}
.button__form{
		font-family: Arial, Helvetica, sans-serif;
    right:7px;
    position: relative;
    line-height: 2.8rem;
    letter-spacing: 0;
    font-size: 1.8rem;
    color:#fff;
    background-color: #a33ba3;
    border:1px solid #a33ba3;
    width: 152px;
    height: 48px;
    border-radius: 6px;
}
::placeholder{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}
.container__form{
	margin-left:250px;
}
.wrapper__info__block{
	margin-left:250px;
}
.block__section2{
	padding-left:0!important;
}
.system__info__block{
	margin-top:3rem;
    span{
				display: block;
        font-size: 1.4rem;
        color:#fff;
        opacity: 0.6;
    }
}
.wrapper__star__system{
	width:770px;
}
.left__content{
	display: flex;
	flex-direction: column;
	align-items:center;
}
.right__content{
	justify-content: flex-end;
	display: flex;

		a{
			width: 64px; height: 20px;
			background: url('../img/css_sprites.png') no-repeat 35px -5px;
			text-decoration: none;
			margin-left:1rem;
			display: block;
			font-size: 1.4rem;
			line-height: 2.4rem;
			letter-spacing: 0;
			color:#fff;
				&:hover{
					color:#fff;
				}
        }
        span{
            opacity: .5;
            color:#fff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0;
        }


}

.center__content{
	padding-top:9.5rem;
	display: flex;
	justify-content:center;

		a{
			width: 64px; height: 20px;
			background: url('../img/css_sprites.png') no-repeat 35px -5px;
			text-decoration: none;
			margin-left:1rem;
			display: block;
			font-size: 1.4rem;
			line-height: 2.4rem;
			letter-spacing: 0;
			color:#fff;
				&:hover{
					color:#fff;
				}
        }
        span{
            opacity: .5;
            color:#fff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0;
        }



}
.stars{
	display: block;
	width: 16px; height: 18px;
	background: url('../img/white__star.png') -10px -8px;
}
.sprite-box{
	display: flex;
}
