footer{
		height: 13rem;
			a{
				display: inline-block;
				margin-top: 2rem;
				line-height: 2rem;
				font-family: Arial, Helvetica, sans-serif;
				color:#7a7a7a;
				font-size: 1.6rem;
				margin-left:2rem;
			}
}
.list-footer{
	margin-top:1.6rem;
    display: flex;
    list-style-type: none;
        li{
					margin-left:1.6rem;
					line-height: 2rem;
					font-family: Arial, Helvetica, sans-serif;
						color:#7a7a7a;
            font-size: 1.6rem;
        }
}
.footer-line{
	margin-top:2.2rem;
	opacity: 0.7;
	background-color: lightgray;
	height: 1px;
}